production-ready-connector-code/mule-file-messagefactory-production/src/main/app/mule-file-messageprocess-production.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">


	<context:property-placeholder location="content.properties" />

	<file:connector name="NonStreamingFileConnector"
		autoDelete="true" streaming="true" validateConnections="false"
		doc:name="File" pollingFrequency="15000">
		<receiver-threading-profile
			maxThreadsActive="1" threadTTL="60000" maxBufferSize="1" />
		<dispatcher-threading-profile
			maxThreadsActive="1" threadTTL="60000" maxBufferSize="1" />
		<service-overrides messageReceiver="org.mule.transport.file.MTUFileMessageReceiver"
			messageFactory="org.mule.transport.file.MTUFileMessageFactory" />
		<file:expression-filename-parser />
	</file:connector>
	
	
	<flow name="poll-files-flow" doc:name="poll-files-flow">
		<file:inbound-endpoint path="${mtu-inputfileslocation}"
			moveToDirectory="${mtu-archevieslocation}" responseTimeout="10000"
			doc:name="File" connector-ref="NonStreamingFileConnector" />

		<collection-splitter doc:name="Collection Splitter" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="fileDataQueue" doc:name="VM" />
	</flow>
	
	<flow name="move-vm-filedata-to-sftp-flow" doc:name="move-vm-filedata-to-sftp-flow">
		<vm:inbound-endpoint exchange-pattern="one-way"
			path="fileDataQueue" doc:name="VM" />
		<logger message="PAYLOAD from splitter : #[payload]" level="INFO"
			doc:name="Logger" />
		<set-property propertyName="originalFileName" value="#[map-payload:file-name]"
			doc:name="Property" />
		<component doc:name="Java" class="com.whiteskylabs.utils.GZIPDecompress" />

		<object-to-string-transformer doc:name="Object to String" />
		<sftp:outbound-endpoint exchange-pattern="one-way"
			outputPattern="#[message.outboundProperties['originalFileName']]"
			host="${sftp-host}" port="${sftp-port}" path="${sftp-path}" user="${sftp-user}"
			password="${sftp-pwd}" responseTimeout="10000" doc:name="SFTP" />
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy
				when="#[exception.causedBy(java.io.IOException)]" doc:name="Catch Exception Strategy">
				<logger message="IOEXCEPTION : #[exception.getSummaryMessage()]"
					level="INFO" doc:name="Logger" />
				<file:outbound-endpoint path="${mtu-errorfolderlocation}"
					responseTimeout="10000" doc:name="File"
					outputPattern="#[message.outboundProperties['originalFileName']]"
					connector-ref="NonStreamingFileConnector" />
			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>

	<!-- <flow name="mule-file-messageprocess-productionFlow1" doc:name="mule-file-messageprocess-productionFlow1"> 
		<file:inbound-endpoint path="\\RAKESH-PC\poc\input" moveToDirectory="\\RAKESH-PC\poc\output" 
		responseTimeout="10000" doc:name="File" connector-ref="NonStreamingFileConnector" 
		/> <logger level="INFO" doc:name="Logger" message="..............................#[payload.class]..............................................#[message.payload]" 
		/> <collection-splitter doc:name="Collection Splitter" /> <logger message="..............................................#[message.payload].........." 
		level="INFO" doc:name="Logger" /> <set-property propertyName="originalFileName" 
		value="#[map-payload:file-name]" doc:name="Property" /> <component doc:name="Java" 
		class="com.whiteskylabs.utils.GZIPDecompress" /> <file:outbound-endpoint 
		path="D:\mho\fileaccess\output" responseTimeout="10000" doc:name="File" outputPattern="#[message.outboundProperties['originalFileName']]" 
		connector-ref="NonStreamingFileConnector"/> </flow> -->

</mule>
